
Click run all for this jupyter notebook, please send an email to btsui@eng.ucsd.edu if there is any error.

### Input: query SRR Id

In [1]:
query_SRR='ERR126304'

### Static params

In [2]:
import pandas as pd
import re 
chunkSize=int(10**5)
shrinkFactor=100
newChunkSize=int(chunkSize/shrinkFactor)
base_mergedBySRR_dir='/home/jovyan/efs/all_seq/snp/hg38/mergedBySRR_smallerChunk/'

### Slice the data out

In [3]:
query_Run_digits=int(re.search(r"\d+", query_SRR).group(0))
query_Run_db=re.search(r"\wRR+", query_SRR).group(0)
#currently fixed, just use this
ithChunk=int(query_Run_digits/newChunkSize)*newChunkSize
print (ithChunk)
%time tmpDf=pd.read_pickle('{}/{}.pickle.gz'.format(base_mergedBySRR_dir,ithChunk))

126000
CPU times: user 360 ms, sys: 44 ms, total: 404 ms
Wall time: 423 ms

In [4]:
%time hitDf=tmpDf.loc[[query_Run_db,query_Run_digits]]

CPU times: user 1.42 s, sys: 392 ms, total: 1.81 s
Wall time: 558 ms

### Output : Allelic read count profile from query SRR ID

In [5]:
hitDf

features                            ReadDepth  AverageBaseQuality
Run_db Run_digits Chr Pos     base
ERR    126111     1   14727   A             5                  33
                              G            41                  33
                      630825  G             1                  23
                              T           154                  37
                      630833  C           164                  36
                      833068  G             2                  38
                      842133  G             8                  30
                              T             1                  31
                      843942  A             1                  40
                      850609  C             1                  41
                              T             3                  38
                      948136  G             7                  32
                      955964  G             5                  37
                      970788  G             7                  34
                      1013541 C             2                  37
                      1014143 C            11                  31
                      1014228 G             4                  37
                      1014316 C            11                  28
                      1014359 G             8                  29
                      1022188 A             1                  35
                      1022225 G             1                  38
                      1022260 C             3                  25
                      1022313 A             4                  38
                      1040679 C             2                  38
                      1041582 C             2                  36
                      1041583 A             2                  36
                      1041648 G             1                  35
                      1041950 C             1                   2
                      1042136 T             6                  32
                      1042190 A             5                  34
...                                       ...                 ...
       126300     MT  15943   A             2                   5
                              C             2                  32
                              G             1                   2
                              T          5174                  37
                      15950   A             3                   4
                              C             3                  20
                              G          5203                  37
                              T             3                   3
                      15965   A          5364                  37
                              G             3                  31
                      15967   A             2                   9
                              C             1                  12
                              G          5399                  37
                              T             1                  10
                      15990   A             4                   7
                              C          5911                  37
                              G             1                   2
                      16188   C          6204                  36
                              G             2                  22
                              T             1                   6
                      16278   A             2                   2
                              C          7325                  36
                              T             1                  35
                      16390   A             5                  29
                              C             1                   8
                              G          7326                  35
                              T             2                  16
                      16519   C          3903                  37
                              G             1                   9
                              T             2                  11

[2497843 rows x 2 columns]

# Diagnosis

if you run into memory issue, I highly recommend trying out [AWS](https://aws.amazon.com/) machines.

In [6]:
memory_usageS=tmpDf.memory_usage()

In [7]:
print ('{} GB of RAM was for storing the pickle'.format(memory_usageS.sum()/(10**9)))

0.045672278 GB of RAM was for storing the pickle