### slice

In [1]:
import pandas as pd
import numpy as np

In [2]:
baseDir='~/efs/all_seq/rnaseq_merged/'

def loadDf(fname,mmap_mode='r'):
    with open(fname+'.index.txt') as f:
        myIndex=map(lambda s:s.replace("\n",""), f.readlines())
    with open(fname+'.columns.txt') as f:
        myColumns=map(lambda s:s.replace("\n",""), f.readlines())
    tmpMatrix=np.load(fname+".npy",mmap_mode=mmap_mode)
    tmpDf=pd.DataFrame(tmpMatrix,index=myIndex,columns=myColumns)
    tmpDf.columns.name='Run'
    return tmpDf

In [4]:
expression_metric='tpm' #["tpm","est_counts"]
specie='Homo_sapiens'
data_matrix_dir=baseDir+'/{specie}.gene_symbol.{expression_metric}.npy'.format(specie=specie,
                                            expression_metric=expression_metric)

In [ ]:
#a memory mapped dataframe
rnaseqDf=loadDf(data_matrix_dir_fmt)

layout of expression matrix

In [14]:
rnaseqDf.head()

Run,SRR4456480,SRR4456481,SRR4456482,SRR4456483,SRR4456484,SRR4456485,SRR4456486,SRR4456487,SRR4456488,SRR4456489,...,SRR3126580,SRR3126581,SRR5076964,SRR5076965,SRR5076966,SRR5076967,SRR5076960,SRR5076961,SRR5076962,SRR3126589
A1BG,0.000000,0.00000,0.00000,0.0,0.0,43.4725,42.39500,0.0,0.0000,0.0000,...,13.633400,16.613701,30.397053,38.792152,28.311970,41.916702,21.123585,43.892700,27.982466,10.015800
A1CF,0.000000,0.00000,0.00000,0.0,0.0,0.0000,0.00000,0.0,0.0000,0.0000,...,1.008490,0.731485,0.522371,0.619676,1.073180,1.200200,1.149905,0.359585,2.151589,0.000000
A2M,0.000000,9.68203,9.63777,0.0,0.0,0.0000,0.00000,0.0,10.2231,15.0466,...,0.000000,1.022370,2.237999,1.686480,1.736842,2.459877,2.030084,2.870860,1.394481,0.147562
A2ML1,90.239403,0.00000,0.00000,0.0,0.0,0.0000,4.50392,0.0,0.0000,0.0000,...,0.383746,0.222499,0.738123,1.604510,1.749147,1.575887,0.630090,0.466597,0.836070,0.000000
A2MP1,0.000000,0.00000,0.00000,0.0,0.0,0.0000,0.00000,0.0,0.0000,0.0000,...,0.000000,0.000000,0.000000,1.862630,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
%time hitGeneS=rnaseqDf.loc['TP53']

CPU times: user 8 ms, sys: 4 ms, total: 12 ms
Wall time: 12.7 ms

TP53 TPM level across 126064 RNAseq human samples

In [20]:
len(hitGeneS)

126064

examples

In [21]:
hitGeneS.head(n=30)

Run
SRR4456480      0.000000
SRR4456481     26.543200
SRR4456482     25.031300
SRR4456483      0.000000
SRR4456484      0.000000
SRR4456485      0.000000
SRR4456486     14.487200
SRR4456487      0.000000
SRR4456488      0.000000
SRR4456489      0.000000
SRR934728      17.815222
SRR2105337      0.000000
SRR2105336      0.000000
SRR934725      25.889841
SRR2964299      0.000000
SRR2964298      0.000000
SRR2105334      0.000000
SRR4456622     23.447300
SRR2964291    452.062012
SRR2964290    493.393005
SRR2964293      0.000000
SRR2964292      0.000000
SRR2964295     14.198820
SRR2964294      0.000000
SRR2964297      7.126470
SRR934722      29.623505
SRR2735800      0.000000
SRR2735801     33.014301
SRR2735802     49.995998
SRR1782990     35.842403
Name: TP53, dtype: float32