### slice

In [1]:
import pandas as pd
import numpy as np

In [6]:
baseDir='/home/jovyan/efs/all_seq/rnaseq_merged/'

def loadDf(fname,mmap_mode='r'):
    with open(fname+'.index.txt') as f:
        myIndex=map(lambda s:s.replace("\n",""), f.readlines())
    with open(fname+'.columns.txt') as f:
        myColumns=map(lambda s:s.replace("\n",""), f.readlines())
    tmpMatrix=np.load(fname+".npy",mmap_mode=mmap_mode)
    tmpDf=pd.DataFrame(tmpMatrix,index=myIndex,columns=myColumns)
    tmpDf.columns.name='Run'
    return tmpDf

In [7]:
expression_metric='tpm' #["tpm","est_counts"]
specie='Mus_musculus'
data_matrix_dir=baseDir+'/{specie}.gene_symbol.{expression_metric}'.format(specie=specie,
                                            expression_metric=expression_metric)

In [8]:
#a memory mapped dataframe
rnaseqDf=loadDf(data_matrix_dir)

In [9]:
!ls -lah  ~/efs/all_seq/rnaseq_merged//Mus_musculus.gene_symbol.tpm.index.txt

-rw-r--r-- 1 500 500 255K Oct 12 17:32 /home/jovyan/efs/all_seq/rnaseq_merged//Mus_musculus.gene_symbol.tpm.index.txt

layout of expression matrix

In [10]:
rnaseqDf.head()

Run,SRR2297454,SRR2297455,SRR2297456,SRR2297457,SRR2297458,SRR2229881,SRR2229882,SRR2229883,SRR2229884,SRR2229885,...,SRR595004,SRR595005,SRR595006,SRR595007,SRR595008,SRR595009,SRR595010,SRR595011,SRR597735,SRR597736
Trdd2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trdd1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trbd1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Trbd2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ighd4-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#(rnaseqDf['SRR2177632']>0).sum()

In [12]:
'SRR2177632' in rnaseqDf.columns

True

In [16]:
%time hitGeneS=rnaseqDf.loc['Trp53']

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 326 Âµs

TP53 TPM level across 126064 RNAseq human samples

In [17]:
len(hitGeneS)

225203

examples

In [18]:
hitGeneS.head(n=30)

Run
SRR2297454     69.141090
SRR2297455     72.389725
SRR2297456     68.895370
SRR2297457     45.453300
SRR2297458     53.184731
SRR2229881    103.297157
SRR2229882    107.695244
SRR2229883    107.549568
SRR2229884    101.318718
SRR2229885    114.171509
SRR2229886     96.441261
SRR2229887    172.167007
SRR2229888    171.330200
SRR2229889    169.951904
SRR2229890    180.121170
SRR2229891    173.827301
SRR2229892    169.816269
SRR2229893    100.135689
SRR2229894    100.328629
SRR2229895    102.007210
SRR2229896     96.868530
SRR2229897     97.072441
SRR2229898    106.739723
SRR2229911     29.394123
SRR2229912     36.435078
SRR2229913     39.928829
SRR2229914     29.433756
SRR2229915     31.875172
SRR2229916     27.196136
SRR2229917     45.184849
Name: Trp53, dtype: float32